<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Система перевода средств между пользователями</div>
                    <div class="card-body">
                        <div class="mb-3">
                            Добро пожаловать! Ваш баланс составляет {{ parseFloat(me.balance).toFixed(2) }}
                            <svg style="width:24px;height:24px;margin-top:-5px" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M6,10H7V3H14.5C17,3 19,5 19,7.5C19,10 17,12 14.5,12H9V14H15V16H9V21H7V16H6V14H7V12H6V10M14.5,5H9V10H14.5A2.5,2.5 0 0,0 17,7.5A2.5,2.5 0 0,0 14.5,5Z" />
                            </svg>
                        </div>
                        <h3>Ваша последняя транзакция:</h3>
                        <div class="mb-3" v-if="me.last_transaction">
                            <div class="row mb-auto">
                                <div class="col col-sm-2">Дата операции</div>
                                <div class="col col-sm-2" v-if="me.last_transaction.direction">Получатель</div>
                                <div class="col col-sm-2" v-else>Отправитель</div>
                                <div class="col col-sm-2">Сумма</div>
                                <div class="col col-sm-2">Баланс на начало</div>
                                <div class="col col-sm-2">Баланс на конец</div>
                                <div class="col col-sm-2">Статус транзакции</div>
                            </div>
                            <div class="row mb-auto">
                                <div class="col col-sm-2">{{ $moment(me.last_transaction.updated_at).format('DD.MM.YYYY HH:[00]') }}</div>
                                <div class="col col-sm-2">{{ me.last_transaction.direction ? me.last_transaction.to_user.name : me.last_transaction.user.name }}</div>
                                <div class="col col-sm-2">{{ parseFloat(me.last_transaction.amount).toFixed(2) }}</div>
                                <div class="col col-sm-2">{{ parseFloat(me.last_transaction.start_amount).toFixed(2) }}</div>
                                <div class="col col-sm-2">{{ parseFloat(me.last_transaction.end_amount).toFixed(2) }}</div>
                                <div class="col col-sm-2">{{ formatTransactionStatus(me.last_transaction.status) }}</div>
                            </div>
                        </div>
                        <div class="mb-3" v-else>
                            Транзакций не найдено.
                        </div>
                        <div>
                            <vue-good-table :columns="columns" :rows="users">
                                <template slot="table-row" slot-scope="props">
                                    <span v-if="props.column.field == 'actions'">
                                      <button class="btn btn-primary" @click="showTransaction(props.row)">
                                            <svg style="width:24px;height:24px;margin-top:-5px" viewBox="0 0 24 24">
                                                <path fill="currentColor" d="M13.5,8H12V13L16.28,15.54L17,14.33L13.5,12.25V8M13,3A9,9 0 0,0 4,12H1L4.96,16.03L9,12H6A7,7 0 0,1 13,5A7,7 0 0,1 20,12A7,7 0 0,1 13,19C11.07,19 9.32,18.21 8.06,16.94L6.64,18.36C8.27,20 10.5,21 13,21A9,9 0 0,0 22,12A9,9 0 0,0 13,3" />
                                            </svg>
                                            <span class="badge bg-secondary">{{ props.row.transactionCount }}</span>
                                      </button>

                                      <button class="btn btn-success" @click="handleTransfer(props.row)">
                                          <svg style="width:24px;height:24px;margin-top:-5px" viewBox="0 0 24 24">
                                              <path fill="currentColor" d="M18,1L19.8,2.79L15.79,6.79L17.21,8.21L21.21,4.21L23,6V1M12,8C8.14,8 5,11.13 5,15A7,7 0 0,0 12,22C15.86,22 19,18.87 19,15A7,7 0 0,0 12,8M12,10.15C14.67,10.15 16.85,12.32 16.85,15A4.85,4.85 0 0,1 12,19.85C9.32,19.85 7.15,17.68 7.15,15A4.85,4.85 0 0,1 12,10.15M11,12V15.69L14.19,17.53L14.94,16.23L12.5,14.82V12" />
                                          </svg>
                                      </button>
                                    </span>
                                    <span v-else>
                                      {{props.formattedRow[props.column.field]}}
                                    </span>
                                </template>
                            </vue-good-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="showTransferModal">
            <transition name="modal">
                <div class="modal-mask">
                    <div class="modal-wrapper">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Платеж пользователю {{ toUser.name }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" @click="showTransferModal = false">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-3 row">
                                            <label class="col-sm-4 col-form-label">Получатель</label>
                                            <div class="col-sm-8 col-form-label">
                                                {{ toUser.name }} ({{ toUser.email }})
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-sm-4 col-form-label">Сумма перевода</label>
                                            <div class="col-sm-8">
                                                <input v-model="payment.amount" type="number" min="0" :max="me.balance" placeholder="Сумма перевода" class="form-control"/>
                                                <small>Но не более <strong>{{ parseFloat(me.balance).toFixed(2) }}</strong></small>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-sm-4 col-form-label">Дата получения</label>
                                            <div class="col-sm-8">
                                                <vue-bootstrap-datetime-picker v-model="payment.datetime" :config="datetimeConfig"></vue-bootstrap-datetime-picker>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" @click="showTransferModal = false">Отмена</button>
                                    <button type="button" class="btn btn-primary" @click="sendPayment" :disabled="payment.amount == 0">Отправить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
        </div>

        <div v-if="showTransactionModal">
            <transition name="modal">
                <div class="modal-mask">
                    <div class="modal-wrapper">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Последняя транзакция пользователя {{ toUser.name }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" @click="showTransactionModal = false">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" v-if="toUser.last_transaction !== null">
                                    <div class="mb-3 row">
                                        <label class="col-sm-6 col-form-label">Дата операции</label>
                                        <div class="col-sm-6 col-form-label">
                                            {{ $moment(toUser.last_transaction.updated_at).format('DD.MM.YYYY HH:[00]') }}
                                        </div>
                                    </div>



                                    <div class="mb-3 row" v-if="toUser.last_transaction.direction">
                                        <label class="col-sm-6 col-form-label">Получатель</label>
                                        <div class="col-sm-6 col-form-label">
                                            {{ toUser.last_transaction.user.name }}
                                        </div>
                                    </div>
                                    <div class="mb-3 row" v-else>
                                        <label class="col-sm-6 col-form-label">Отправитель</label>
                                        <div class="col-sm-6 col-form-label">
                                            {{ toUser.last_transaction.to_user.name }}
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label class="col-sm-6 col-form-label">Сумма</label>
                                        <div class="col-sm-6 col-form-label">
                                            {{ parseFloat(toUser.last_transaction.amount).toFixed(2) }}
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-6 col-form-label">Баланс на начало операции</label>
                                        <div class="col-sm-6 col-form-label">
                                            {{ parseFloat(toUser.last_transaction.start_amount).toFixed(2) }}
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-6 col-form-label">Баланс на конец операции</label>
                                        <div class="col-sm-6 col-form-label">
                                            {{ parseFloat(toUser.last_transaction.end_amount).toFixed(2) }}
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-6 col-form-label">Статус транзакции</label>
                                        <div class="col-sm-6 col-form-label">
                                            {{ formatTransactionStatus(toUser.last_transaction.status) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-body" v-else>
                                    <div class="alert alert-primary">
                                        <svg style="width:24px;height:24px;margin-top:-5px" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="M13 14H11V9H13M13 18H11V16H13M1 21H23L12 2L1 21Z" />
                                        </svg>
                                        Транзакции отсутствуют.</div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" @click="showTransactionModal = false">Закрыть</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
        </div>
    </div>
</template>

<style>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    table.vgt-table {
        font-size: inherit!important;
    }
    .v-toast {
        z-index: 10000!important;
    }
</style>
<script>

// import the styles
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import VueBootstrapDatetimePicker from 'vue-bootstrap-datetimepicker';
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';

export default {
        components: {
            VueGoodTable,
            VueBootstrapDatetimePicker
        },
        data() {
            return  {
                columns: [
                    {label: 'Имя пользователя', field: 'name', headerClass: 'class-in-header second-class'},
                    {label: 'E-mail', field: 'email'},
                    {label: 'Баланс', field: 'balance', formatFn: value => (value.toFixed(2)), width: '100px'},
                    {label: '', field: 'actions', sortable: false, width: '150px'}
                ],
                users: [],
                showTransferModal: false,
                showTransactionModal: false,
                toUser: {},
                me: {
                    balance: 0.0
                },
                defaultPayment: {
                    amount: 0.0,
                    toUser:  -1,
                    datetime: new Date()
                },
                payment: {},
                datetimeConfig: {
                    defaultDate: new Date(),
                    minDate:  new Date(),
                    locale: 'ru',
                    format: 'DD.MM.YYYY HH:[00]',
                    icons: {
                        time: 'far fa-clock',
                            date: 'far fa-calendar',
                            up: 'fas fa-arrow-up',
                            down: 'fas fa-arrow-down',
                            previous: 'fas fa-chevron-left',
                            next: 'fas fa-chevron-right',
                            today: 'fas fa-calendar-check',
                            clear: 'far fa-trash-alt',
                            close: 'far fa-times-circle'
                    }
                }
            }
        },
        mounted() {
            this.payment = { ...this.defaultPayment };
            this.$axios
                .get('user')
                .then(response => (this.users = response.data.users));
            this.$axios
                .get('me')
                .then(response => (this.me = response.data.user));
        },
        methods: {
            formatTransactionStatus(status) {
                let formatted = '';
                switch(status) {
                    case 'done':
                        formatted = 'Завершена';
                    break;
                    case 'progress':
                        formatted = 'В процессе';
                    break;
                    case 'hold':
                        formatted = 'Запланирована';
                    break;
                    case 'new':
                    default:
                        formatted = 'Новая';
                    break;
                }
                return formatted;
            },
            showTransaction(userData) {
                this.$axios
                    .get(`user/${userData.id}`)
                    .then((response) => {
                        this.toUser = response.data.user;
                        this.showTransactionModal = true;
                    })
                    .catch((response) => { this.$toast.error('Не удалось загрузить данные!')});
            },
            handleTransfer(userData) {
                this.toUser = userData;
                this.showTransferModal = true;
            },
            sendPayment() {
                if (parseFloat(this.payment.amount) > parseFloat(this.me.balance)) {
                    this.$toast.error('Недостаточно средств для перевода.');
                    return;
                }
                if (parseFloat(this.payment.amount) <= 0) {
                    this.$toast.error('Укажите корректную сумму для перевода.');
                    return;
                }
                this.payment.toUser = this.toUser.id;
                this.$axios
                    .post('payment', this.payment)
                    .then((response) => {
                        if (response.data.error === 0) {
                            this.$toast.success(response.data.message)
                            this.showTransferModal = false;
                            this.payment = { ...this.defaultPayment };
                            this.me.balance = response.data.transaction.end_amount;
                            if (response.data.transaction.status === 'done') {
                                this.toUser.balance += parseFloat(response.data.transaction.amount);
                                this.toUser.transactionCount++;
                            }
                            this.me.last_transaction = response.data.transaction;
                        } else {
                            this.$toast.error(response.data.message);
                        }
                    })
                    .catch((error) => {
                        const response = error.response.data;
                        if (Object.prototype.hasOwnProperty.call(response, 'errors')) {
                            for (const [key, message] of Object.entries(response.errors)) {
                                this.$toast.error(message.pop());
                                if (key === 'amount') {
                                    this.$toast.warning('Обновите страницу!');
                                }
                            }
                        } else {
                                this.$toast.error('Неизвестная серверная ошибка!');
                        }
                    })

            }
        }
    }
</script>
